{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if not session.user_id %}

    <div class="background">
        <h1 class="h1">Você precisa de ajuda para organizar suas contas financeiras de forma rápida e dinâmica?</h1>
        <h2 class="h2">Então você veio ao lugar certo! Seja bem-vindo ao OrganizeContas!</h2>
        <h3 class="h3">Aqui você pode organizar todas suas contas em uma tabela amigável e simples.</h3>
        <h4 class="h4"><b>Para isso, basta <a href="/login">Logar</a> ou se <a href="/register">Registrar</a>.</b></h4>
    </div>

        <script src="static/scroll-out.js"></script>
        <script type="text/javascript">
            ScrollOut ({
                targets: 'section,div,img,p'
            });
        </script>

    {% else %}
    <div class="background">
        <h4 class="h4">
            <p>Agora que já se registrou e/ou fez o login, você pode organizar suas contas selecionado alguma das opções do menu de navegação acima.</p>
            <p>Bom uso e obrigado por confiar no trabalho do Organize Contas!</p>
        </h4>
    </div>
    
    <script src="static/scroll-out.js"></script>
    <script type="text/javascript">
        ScrollOut ({
            targets: 'section, img, p, .background'
        });
    </script>
    {% endif %}
{% endblock %}
